@model BugTracker.Models.ViewModels.ChangeTicketDeveloperVM;

<div id="changeDeveloperModal" class="modal">
    <div class="modal-content">
        <h1>Change developer</h1>
        <form method="post" asp-action="ChangeDeveloper" asp-route-ticketId="@Model.TicketId"
              style="display: flex; flex-direction: column; align-items: start;">

            @*User Table*@
            <label>Select the user</label>
            <section class="grid-container">
                <ejs-grid id="tblSelectUser" dataSource="@Model.Users" allowFiltering="true" allowSorting="true" allowPaging="true" allowSelection="true">
                    <e-grid-filtersettings type="Menu"></e-grid-filtersettings>
                    <e-grid-pagesettings pageSize="5"></e-grid-pagesettings>
                    <e-grid-selectionsettings type="Single" mode="Row"></e-grid-selectionsettings>
                    <e-grid-columns>
                        <e-grid-column field="UserId" headerText="Id" isPrimaryKey="true" visible="false"></e-grid-column>
                        <e-grid-column field="User.FullName" headerText="Name"></e-grid-column>
                        <e-grid-column field="User.Email" headerText="Email"></e-grid-column>
                    </e-grid-columns>
                </ejs-grid>
            </section>

            @*User*@
            <section class="form-group-contained" style="margin-right: 30px; margin-bottom: 0px;">
                <label>Selected user</label>
                <input id="userIdInput" asp-for="SelectedUser.Id" hidden />
                <input id="userNameInput" asp-for="SelectedUser.FullName" hidden />
                <div id="selectedUserName" class="fake-input"
                     style="min-width: 200px; padding: 7px 8px; color: #162643; border: 1px solid #DADDE2; ">
                    -
                </div>
            </section>

            @*Buttons*@
            <input hidden id="canEditDev" name="canEditDev" value="@Model.CanEditDev.ToString()" />
            <footer class="status-modal-buttons">
                <button type="button" class="btn-secondary" data-dismiss="modal">Cancel</button>
                @if (Model.CanEditDev)
                {
                    <button type="submit" data-save="modal" style="margin-left: 10px;">Confirm</button>
                }
            </footer>
        </form>
    </div>
</div>

<ejs-scripts></ejs-scripts>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
