@model BugTracker.Models.ViewModels.ChangeTicketStatusVM;

<div id="changeStatusModal" class="modal">
    <div class="status-modal-content">
        <h1>Change ticket status</h1>
        <form method="post" asp-action="ChangeStatus" asp-route-ticketId="@Model.Ticket.Id" style="display: flex; flex-direction: column; align-items: start;">

            <div class="form-group-contained" style="width: 100%">
                <label>Select the status</label>
                <select style="width: 100%" class="avatar-dropdown" asp-for="Status.Id" asp-items="@Model.Statuses"></select>
                <span asp-validation-for="Status.Id" class="text-error"></span>
            </div>

            @*Buttons*@
            <footer class="status-modal-buttons">
                <button type="button" class="btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" data-save="modal">Confirm</button>
            </footer>
        </form>
    </div>
</div>

<ejs-scripts></ejs-scripts>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
