<nav class="nav">
    <div class="nav_content">
        <div class="nav_logo">
            BugTracker
        </div>
        <ul class="nav_list">
            <li class="nav_item">
                Welcome: Marco Stari
            </li>
            <li class="nav_item">
                <a class="nav_link" asp-area="" asp-controller="" asp-action="">Logout</a>
            </li>
            <div class="nav_item">
                <a class="nav_link avatar-small" asp-area="" asp-controller="" asp-action="">M</a>
            </div>
        </ul>
    </div>
</nav>