@using Microsoft.AspNetCore.Identity
@using BugTracker.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{ if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    } }

<div>
    <partial name="_ManageNav" />
    <div>
        @if (!SignInManager.IsSignedIn(User))
        {
<section class="profile-container">
    <h2>You are not signed in</h2>
</section> }
else
{
@RenderBody()}
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
