@page
@model EmailModel
@{ ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email; }

@*<div class="row">
        <div class="col-md-6">
            <form id="email-form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    @if (Model.IsEmailConfirmed)
                    {
                        <div class="input-group">
                            <input asp-for="Email" class="form-control" disabled />
                            <div class="input-group-append">
                                <span class="input-group-text text-success font-weight-bold">✓</span>
                            </div>
                        </div>
                    }
                     else
                    {
                        <input asp-for="Email" class="form-control" disabled />
                        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                    }
                </div>
                <div class="form-group">
                    <label asp-for="Input.NewEmail"></label>
                    <input asp-for="Input.NewEmail" class="form-control" />
                    <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                </div>
                <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn btn-primary">Change email</button>
            </form>
        </div>
    </div>*@

<section class="profile-container">
    <card class="profile-card">
        <header>
            <h1 style="margin-top: 12px;">Change Email</h1>
        </header>
        <form id="change-password-form" method="post" style="width: 100%;">
            @if (!ModelState.IsValid)
            {
<div asp-validation-summary="All" class="text-error"></div>}
            <div class="form-group">
                @if (Model.IsEmailConfirmed)
                {
    <div class="input-group">
        <input asp-for="Email" class="form-control" disabled />
        <div class="input-group-append">
            <span class="input-group-text text-success font-weight-bold">✓</span>
        </div>
    </div> }
else
{
<input asp-for="Email" class="text-input" style="margin-bottom: 10px;" disabled />
                <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn-link">Send verification email</button>}
            </div>
            <div class="form-group">
                <input asp-for="Input.NewEmail" class="text-input" placeholder="Insert new Email" />
                <span asp-validation-for="Input.NewEmail" class="text-error"></span>
            </div>
            <button type="submit" style="width: 100%;">Update Email</button>
            <partial name="_StatusMessage" model="Model.StatusMessage" />
        </form>
        <footer>
            <a asp-page="./Index" class="profile-link">Back to Profile</a>
        </footer>
    </card>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
