@model BugTracker.Models.Project;

@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


<div class="edit-project-container">
    @*<h5 style="margin-bottom: 10px;">Projects &nbsp / &nbsp Create</h5>*@
    <a asp-controller="Home" asp-action="Index"><h5 style="margin-bottom: 10px;"><i class="fas fa-arrow-alt-circle-left"></i> Back to projects</h5></a>
    <h1 style="margin-bottom: 25px;">Create new project</h1>

    <form method="post" asp-action="Create">
        <div class="form-group-contained">
            <label asp-for="Title">Title*</label>
            <input asp-for="Title" class="text-input-small" />
            <span asp-validation-for="Title" class="text-error"></span>
        </div>
        <div class="form-group-contained">
            <label asp-for="Type">Project type*</label>
            <input asp-for="Type" class="text-input-small" placeholder="eg. Software, Marketing..." />
            <span asp-validation-for="Type" class="text-error"></span>
        </div>
        <div class="form-group-contained" style="max-width: 520px; margin-top: 20px; margin-bottom: 20px;">
            <label asp-for="Description"></label>
            <textarea rows="12" asp-for="Description" class="text-input-small" placeholder="Insert a description of the project..."></textarea>
            <span asp-validation-for="Description" class="text-error"></span>
        </div>
        <div class="form-group-contained" style="margin-bottom: 40px;">
            @{
                string creatorId = UserManager.GetUserId(User);
                AppUser user = UserManager.Users.FirstOrDefault(u => u.Id == creatorId);

                <label>Project Creator</label>
                <div class="fake-input">
                    <a class="avatar-input" style="margin-right: 8px;">@user.FullName.FirstOrDefault()</a>
                    @user.FullName - @user.Email
                </div>
                <input asp-for="CreatorId" hidden value="@creatorId" />
            }
        </div>

        <div style="display: flex; flex-direction: row;">
            <button type="submit" style="margin-right: 10px;">Create</button>
            <a type="button" class="btn-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    @*Change the color of all "*" to red*@
    <script>$('label').each(function () {
            $(this).html($(this).html().replace(/(\*)/g, '<span style="color: #E14236;">$1</span>'));
        });</script>
}