@model BugTracker.Models.ViewModels.TicketIndexVM;

<div class="project-main">
    <partial name="_SideNav" model="@Model.Project" />
    <div class="project-body">
        <h1>Tickets</h1>
    </div>
</div>
