@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&display=swap');

:root {
    --color-primary: #1B55C5;
    --color-primary-hover: #0364FF;
    --color-primary-light: #DAE8FE;
    --color-red: #E14236;
    --color-red-light: #FDEFEE;
    --color-purple: #6555C0;
    --color-azure: #43A4E2;
    --color-green: #107B51;
    --color-bright-green: #32AA75;
    --color-light-green: #E0FCEE;
    --color-orange: #FFA329;
    --color-light-orange: #FFE5C3;
    --color-background: #FFFFFF;
    --color-secondary-background: #F9FBFC;
    --color-input-background: #FAFBFC;
    --color-divider: #E8EAEE;
    --color-border: #DADDE2;
    --color-primary-text: #162643;
    --color-secondary-text: #394962;
    --color-gray-text: #6b778c;
    --color-label-text: #394962;
    --color-label-bg: #F5F5F6;
    --color-label-hover: #EBECF0;
    --color-label-text-pressed: #1B55C5;
    --color-label-bg-pressed: #CBE2FD;
    --color-label-bg-selected: #162643;
    --color-label-secondary-bg-selected: #47556C;
    --color-error: #E14236;
    --border-radius: 5px;
    --navbar-height: 56px;
    --sidebar-width: 240px;
    --animation-duration: 200ms;
    --animation-duration-input: 300ms;
    --content-max-width: 900px;
    --box-shadow: 0 3px 5px rgba(0, 0, 0, 0.12);
    --card-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Typography */
html {
    /* 62.5% of 16px = 10px => the result is that 14px = 1.4rem */
    font-size: 62.5%;
}

body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.6rem;
    background-color: var(--color-background);
    color: var(--color-primary-text);
    /*line-height: 1.5;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 2.4rem;
    font-weight: 600;
}

h2 {
    font-size: 1.8rem;
    font-weight: 500;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-secondary-text);
}

h4 {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-secondary-text);
}

h5 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-gray-text);
}

h6 {
    font-size: 1.4rem;
    font-weight: 500;
}

p, span {
    font-size: 1.4rem;
}

hr {
    border: 1px solid var(--color-divider);
    margin: 0;
    width: 100%;
}

.main {
    margin-top: var(--navbar-height);
}

/* Buttons - Links */
button {
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    border: none;
    color: #fff;
    padding: 11px 18px;
    margin: 0;
    transition: all var(--animation-duration);
}

    button:hover {
        background-color: var(--color-primary-hover);
        cursor: pointer;
    }

.btn {
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    border: none;
    color: #fff;
    padding: 11px 18px;
    font-size: 1.5rem;
    margin: 0;
    transition: all var(--animation-duration);
}

    .btn:hover {
        background-color: var(--color-primary-hover);
        cursor: pointer;
    }


a {
    color: var(--color-primary-hover);
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
}

.external-login-btn {
    background-color: #fff;
    color: #42526E;
    box-shadow: var(--card-shadow);
    font-weight: 500;
}

    .external-login-btn:hover {
        background-color: #f4f4f4;
    }

    .external-login-btn:first-child {
        margin-bottom: 15px;
    }

.nav-button {
    background-color: #fff;
    color: var(--color-primary-text);
    transition: all 0ms;
    padding: 9px 8px;
}

    .nav-button:hover {
        background-color: var(--color-primary-light);
        color: var(--color-primary);
    }

.btn-secondary {
    background-color: #fff;
    color: var(--color-primary);
    transition: all 0ms;
    border-radius: var(--border-radius);
    border: none;
    padding: 11px 18px;
    margin: 0;
    transition: all var(--animation-duration);
}

    .btn-secondary:hover {
        background-color: var(--color-primary-light);
    }

.btn-filter {
    padding: 7px 18px;
    color: var(--color-primary);
    background-color: var(--color-primary-light);
}

    .btn-filter:hover {
        color: #fff;
        background-color: var(--color-primary);
    }

.btn-table-edit {
    color: var(--color-primary);
    background-color: rgba(0, 0, 0, 0) !important;
    border-radius: var(--border-radius);
    padding: 6px;
}

    .btn-table-edit:hover {
        background-color: var(--color-primary) !important;
        color: #fff;
    }

.btn-remove {
    background-color: var(--color-red-light);
    color: var(--color-red);
}

    .btn-remove:hover {
        color: #fff;
        background-color: var(--color-red);
    }

.btn-clear {
    padding: 8px 18px;
    color: var(--color-primary-text);
    background-color: #fff;
    border-radius: var(--border-radius);
}

    .btn-clear:hover {
        background-color: var(--color-label-bg);
    }

.btn-link {
    padding: 0;
    color: var(--color-primary-hover);
    background-color: #fff;
    transition: all 0;
}

    .btn-link:hover {
        cursor: pointer;
        text-decoration: underline;
        background-color: #fff;
    }

.btn-select-user {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #fff;
    color: var(--color-primary-text);
    padding: 8px 12px;
    border: 1px solid var(--color-border);
}

    .btn-select-user:hover {
        background-color: var(--color-label-bg);
    }

/*Class to make the component impossible to select*/
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.container {
    max-width: var(--content-max-width);
    margin: 0 auto;
}

/* NavBar */
.nav {
    height: var(--navbar-height);
    background-color: var(--color-background);
    padding: 0 12px;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 500;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.nav_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
}

.nav_logo {
    font-size: 18px;
    font-weight: 500;
}

.nav_list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav_item {
    color: var(--color-primary-text);
    margin: 0 30px 0 0;
}

.nav_link {
    text-decoration: none;
    color: var(--color-primary-text);
}

/* Avatar */
.avatar {
    background-color: var(--color-purple);
    border-radius: 180px;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    font-size: 15px;
    color: #fff;
}

.avatar-small {
    background-color: var(--color-purple);
    border-radius: 180px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    font-size: 12px;
    color: #fff;
}

.avatar-input {
    background-color: var(--color-purple);
    border-radius: 180px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    font-size: 9px;
    color: #fff;
    margin-right: 8px;
}

/* Auth Pages */

.auth-container {
    background-color: var(--color-secondary-background);
    height: calc(100vh - var(--navbar-height));
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-card {
    background-color: var(--color-background);
    padding: 32px 40px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 400px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    width: 100%;
    margin-bottom: 15px;
}

.form-group-contained {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    max-width: 350px;
    margin-bottom: 12px;
}

.auth-container hr {
    margin: 20px 0;
}

/* Inputs */
.text-input {
    background-color: var(--color-input-background);
    border: 2px solid var(--color-border);
    border-radius: var(--border-radius);
    padding: 11px;
    font-size: 1.5rem;
    font-weight: 400;
    transition: all var(--animation-duration-input);
}

    .text-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: var(--color-gray-text);
    }

    .text-input::placeholder {
        color: var(--color-gray-text);
    }

    .text-input:hover {
        background-color: var(--color-divider);
    }

.text-input-small {
    background-color: var(--color-input-background);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    padding: 6px 8px;
    font-size: 1.4rem;
    font-weight: 400;
    transition: all var(--animation-duration-input);
}

    .text-input-small::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: var(--color-gray-text);
    }

    .text-input-small::placeholder {
        color: var(--color-gray-text);
    }

    .text-input-small:hover {
        background-color: var(--color-divider);
    }

.text-input-ticket {
    background-color: #fff;
    border: none;
    border-radius: var(--border-radius);
    padding: 6px 8px;
    font-size: 1.4rem;
    font-weight: 400;
    width: 100%;
    transition: all var(--animation-duration-input);
    -webkit-appearance: none; /* for webkit (safari, chrome) compatibility */
    -moz-appearance: none; /* for firefox compatibility */
    appearance: none;
}

    .text-input-ticket::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: var(--color-gray-text);
    }

    .text-input-ticket::placeholder {
        color: var(--color-gray-text);
    }

    .text-input-ticket:hover {
        background-color: var(--color-divider);
    }

    .text-input-ticket:focus {
        background-color: var(--color-label-bg);
        outline: none;
    }


textarea {
    resize: none;
}

    textarea:focus, input:focus, .avatar-dropdown:focus, .user-search-dropdown:focus {
        outline: none;
    }

.auto-resize-textarea::-webkit-scrollbar {
    width: 0;
}

.text-error {
    color: var(--color-error);
    font-size: 1.2rem;
    margin-top: 4px;
}

.fake-input {
    background-color: var(--color-input-background);
    border-radius: var(--border-radius);
    color: var(--color-gray-text);
    align-items: center;
    display: flex;
    justify-content: start;
    padding: 6px 8px;
    font-size: 14px;
}

/* Cards */
.card {
    background-color: var(--color-background);
    border-radius: var(--border-radius);
    box-shadow: var(--card-shadow);
}

#your-projects-card {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.project-card {
    max-width: 300px;
    height: 200px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .project-card h4 {
        font-weight: 400;
        margin-top: 8px;
    }

    .project-card:hover {
        background-color: #fcfcfc;
        cursor: pointer;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        transition: all var(--animation-duration);
    }


/* Projects Page */
.projects-container {
    background-color: var(--color-secondary-background);
    min-height: calc(100vh - var(--navbar-height));
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 4%;
}

/* Grids */
.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px 40px;
}

.grid-link:hover {
    text-decoration: underline;
}

/* Edit Project */
.edit-project-container {
    background-color: var(--color-background);
    padding: 40px;
}

label {
    margin-bottom: 4px;
    color: var(--color-gray-text);
    font-size: 12px;
    font-weight: 600;
}

/* Dropdown */

.avatar-dropdown {
    background-color: var(--color-input-background);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    padding: 6px 8px;
    font-size: 1.4rem;
    transition: all var(--animation-duration-input);
}

    .avatar-dropdown:hover {
        background-color: var(--color-divider);
    }

.user-search-dropdown {
    background-color: var(--color-label-bg);
    border: none;
    border-radius: var(--border-radius);
    padding: 8px 35px 8px 8px;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-label-text);
    transition: all var(--animation-duration-input);
    -webkit-appearance: none; /* for webkit (safari, chrome) compatibility */
    -moz-appearance: none; /* for firefox compatibility */
    appearance: none;
}

    .user-search-dropdown:hover {
        background-color: var(--color-label-hover);
        cursor: pointer;
    }

.custom-select {
    position: relative;
}

.custom-arrow {
    position: absolute;
    top: 0;
    right: 2px;
    display: block;
    height: 100%;
    width: 25px;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-label-text);
}

#resizing_select, #rolefilter {
    width: 110px;
}

#typefilter, #statusfilter {
    width: 90px;
}

#width_tmp_select, #width_status_select, #width_type_select {
    display: none;
}

/* Sidenav */
.sidenav {
    height: 100%;
    width: var(--sidebar-width);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--color-secondary-background);
    overflow-x: hidden;
}

.sidenav-content {
    padding: calc(var(--navbar-height) + 40px) 10px 10px 10px;
}

.sidenav-button-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}

.btn-sidenav {
    border-radius: var(--border-radius);
    color: var(--color-secondary-text);
    font-size: 1.5rem;
    font-weight: 500;
    background-color: var(--color-secondary-background);
    height: 45px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
}

    .btn-sidenav:hover {
        background-color: var(--color-label-hover);
        cursor: pointer;
    }

    .btn-sidenav:active {
        background-color: var(--color-label-bg-pressed);
        color: var(--color-primary-hover);
        cursor: pointer;
    }

.sidenav i {
    color: var(--color-secondary-text);
    margin-right: 18px;
    width: 18px;
}

/* Project Section */
.project-main {
    display: flex;
    justify-content: start;
    align-items: stretch;
    width: 100%;
    flex-wrap: nowrap;
    flex-basis: var(--sidebar-width);
}

.project-body {
    background-color: var(--color-background);
    box-shadow: var(--box-shadow);
    width: 100%;
    min-height: calc(100vh - var(--navbar-height));
    z-index: 2;
    padding: 40px;
    margin-left: var(--sidebar-width);
}

.project-info-section {
    display: flex;
    align-items: center;
    justify-content: start;
}

.project-icon {
    width: 30px;
    height: 30px;
    background-color: var(--color-purple);
    border-radius: var(--border-radius);
    margin-right: 15px;
    margin-left: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* User Filters */

.user-filters-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.user-search {
    width: 340px;
    border-width: 1px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 12px;
}

    .user-search i {
        color: var(--color-gray-text);
    }

.invisible-input {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-right: 5px;
}

/* Syncfusion table */
/* tblUserProject */
#tblUserProject .e-currentitem {
    background-color: var(--color-primary);
}

#tblUserProject button {
    border-radius: var(--border-radius)
}

#tblUserProject .e-primary {
    color: var(--color-primary);
}

    #tblUserProject .e-primary:hover {
        background-color: var(--color-primary-light);
    }

/* tblSelectUser */
#tblSelectUser .e-currentitem {
    background-color: var(--color-primary);
}

#tblSelectUser button {
    border-radius: var(--border-radius)
}

#tblSelectUser .e-primary {
    color: var(--color-primary);
}

    #tblSelectUser .e-primary:hover {
        background-color: var(--color-primary-light);
    }

#tblSelectUser th {
    cursor: default;
}

#tblSelectUser td {
    cursor: pointer;
}

#tblSelectUser .e-selectionbackground {
    background-color: var(--color-light-green);
}

/* tblProjectTickets */
#tblProjectTickets .e-currentitem {
    background-color: var(--color-primary);
}

#tblProjectTickets button {
    border-radius: var(--border-radius)
}

#tblProjectTickets .e-primary {
    color: var(--color-primary);
}

    #tblProjectTickets .e-primary:hover {
        background-color: var(--color-primary-light);
    }

/* tblAttachments */
/*#tblAttachments .e-currentitem {
    background-color: var(--color-primary);
}

#tblAttachments button {
    border-radius: var(--border-radius)
}

#tblAttachments .e-primary {
    color: var(--color-primary);
}

    #tblAttachments .e-primary:hover {
        background-color: var(--color-primary-light);
    }

#tblAttachments .e-row:hover {
    background-color: var(--color-divider);
}*/

/* Danger zone */
.danger-zone-container {
    border: 1px solid var(--color-red);
    border-radius: var(--border-radius);
    padding: 15px;
    margin-top: 8px;
    max-width: 650px;
}

.danger-zone-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.danger-zone-container p {
    margin: 0;
    line-height: 21px;
}

.danger-zone-container button {
    color: var(--color-red);
    background-color: var(--color-red-light);
}

    .danger-zone-container button:hover {
        color: #fff;
        background-color: var(--color-red);
    }

/* Modal */

.modal {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: var(--color-background);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: 40px;
    width: 800px;
    position: relative;
}

.status-modal-content {
    background-color: var(--color-background);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: 30px 40px;
}

.modal label {
    margin-bottom: 8px;
    margin-top: 30px;
}

.modal-buttons-container {
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.status-modal-buttons {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

/* Status Tag */
#statusTemplate {
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-tag {
    background-color: var(--color-border);
    border-radius: var(--border-radius);
    display: inline-block;
    padding: 1px 6px;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-secondary-text);
}

.detail-tag {
    padding: 4px 6px 3px;
    cursor: pointer;
}

#ticket-detail-body .todo-tag:hover {
    background-color: #CBCCCC;
}

.in-progress-tag {
    background-color: var(--color-primary-light);
    color: var(--color-primary);
}

#ticket-detail-body .in-progress-tag:hover {
    background-color: #C5DBFA;
}

.in-review-tag {
    background-color: var(--color-light-orange);
    color: var(--color-orange);
}

#ticket-detail-body .in-review-tag:hover {
    background-color: #FCD7A6;
}

.done-tag {
    background-color: var(--color-light-green);
    color: var(--color-green);
}

#ticket-detail-body .done-tag:hover {
    background-color: #C8FCE2;
}


/* Ticket Details */

#ticket-details-container {
    display: flex;
    justify-content: stretch;
    align-items: start;
    width: 100%;
}


#col-left {
    /*background-color: yellow;*/
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: start;
    flex: 4;
    margin-right: 20px;
}

    #col-left h6 {
        margin-bottom: 20px;
    }

#col-right {
    /*background-color: green;*/
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: start;
    flex: 3;
    margin-left: 20px;
}

.ticket-header {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.ticket-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    margin-bottom: 45px;
    font-size: 1.4rem;
}

.edit-ticket-button {
    margin-left: 20px;
    background-color: var(--color-primary-light);
    color: var(--color-primary);
    white-space: nowrap;
    padding: 11px 18px;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: var(--border-radius);
}

    .edit-ticket-button:hover {
        background-color: var(--color-primary);
        color: #fff;
        cursor: pointer;
    }

.save-changes-button {
    margin-left: 20px;
    background-color: var(--color-light-green);
    color: var(--color-green);
    white-space: nowrap;
    padding: 11px 18px;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: var(--border-radius);
}

    .save-changes-button:hover {
        background-color: var(--color-bright-green);
        color: #fff;
        cursor: pointer;
    }


.ticket-info-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    width: 100%;
    background-color: #fff;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-divider);
    margin-bottom: 20px;
}

.header-title {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-divider);
}

    .header-title:hover {
        background-color: var(--color-label-bg);
        cursor: pointer;
    }

#ticket-detail-body {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 25px;
    font-size: 1.4rem;
}

    #ticket-detail-body span {
        font-size: 1.2rem;
        color: #42526e;
        font-weight: 500;
        display: flex;
        align-items: center;
    }

.detail-value {
    display: flex;
    justify-content: start;
    align-items: center;
}

#ticket-timeline-body {
    padding: 20px;
    font-size: 1.4rem;
    font-weight: 400;
}

    #ticket-timeline-body b {
        font-weight: 500;
    }

.timeline-item {
    display: flex;
    justify-content: start;
    align-items: start;
}

    .timeline-item span {
        margin-right: 15px;
    }

    .timeline-item .date {
        color: var(--color-gray-text);
    }

.timeline-content {
    color: var(--color-secondary-text)
}

.hidden {
    /*visibility: hidden;*/
    display: none;
}

/* Attachments */

.ticket-section header, .ticket-section form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#upload-btn {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    color: var(--color-secondary-text);
}

    #upload-btn:hover {
        background-color: var(--color-label-bg);
        cursor: pointer;
    }

.grid-btn {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    background-color: transparent;
    color: var(--color-secondary-text);
}

    .grid-btn:hover {
        background-color: #DEE1E6;
        cursor: pointer;
    }

#tblAttachments {
    border: 1px solid #e0e0e0;
    border-collapse: collapse;
}

    #tblAttachments .header-row {
        text-align: left;
        background-color: #fff;
    }

        #tblAttachments .header-row:hover {
            background-color: #fff;
        }

    #tblAttachments th {
        font-weight: 500;
        font-size: 14px;
        color: rgba(0,0,0,0.54);
        line-height: 35px;
        padding-left: 18px;
    }

    #tblAttachments tr {
        border: 1px solid #e0e0e0;
    }

        #tblAttachments tr:hover {
            background-color: var(--color-divider);
        }

.empty-row {
    color: var(--color-secondary-text);
}

    .empty-row:hover {
        background-color: #fff !important;
    }

#tblAttachments td {
    padding: 6px 18px;
}

.actions-td {
    display: flex;
    align-items: center;
    justify-content: right;
}

/* Comments */

.input-comment {
    background-color: #fff;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    padding: 8px 15px;
    font-size: 1.4rem;
    font-weight: 400;
    transition: all var(--animation-duration-input);
    width: 100%;
}

    .input-comment::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: var(--color-gray-text);
    }

    .input-comment::placeholder {
        color: var(--color-gray-text);
    }

    .input-comment:hover {
        background-color: var(--color-divider);
    }

.comment-container {
    display: flex;
    align-items: start;
    justify-content: start;
    margin-top: 25px;
}

.comment-body {
    margin-left: 20px;
    width: 100%;
}

    .comment-body header {
        justify-content: start;
    }

        .comment-body header span {
            color: var(--color-secondary-text);
        }

    .comment-body p {
        margin: 12px 0;
        color: var(--color-primary-text);
    }

.comment-actions a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.comment-actions section {
    display: flex;
    align-content: start;
    justify-items: center;
}
