@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&display=swap');

:root {
    --color-primary: #1B55C5;
    --color-primary-hover: #0364FF;
    --color-primary-light: #DAE8FE;
    --color-red: #E14236;
    --color-purple: #6555C0;
    --color-azure: #43A4E2;
    --color-green: #E14236;
    --color-bright-green: #32AA75;
    --color-light-green: #E0FCEE;
    --color-orange: #FFA329;
    --color-background: #FFFFFF;
    --color-secondary-background: #F9FBFC;
    --color-input-background: #FAFBFC;
    --color-divider: #E8EAEE;
    --color-border: #DADDE2;
    --color-primary-text: #162643;
    --color-secondary-text: #394962;
    --color-gray-text: #7E8898;
    --color-label-text: #394962;
    --color-label-bg: #F5F5F6;
    --color-label-text-pressed: #1B55C5;
    --color-label-bg-pressed: #CBE2FD;
    --color-label-bg-selected: #162643;
    --color-label-secondary-bg-selected: #47556C;
    --color-error: #E14236;
    --border-radius: 5px;
    --navbar-height: 56px;
    --animation-duration: 200ms;
    --animation-duration-input: 300ms;
    --content-max-width: 900px;
    --box-shadow: 0 3px 5px rgba(0, 0, 0, 0.12);
    --card-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Typography */
html {
    /* 62.5% of 16px = 10px => the result is that 14px = 1.4rem */
    font-size: 62.5%;
}

body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.6rem;
    background-color: var(--color-background);
    color: var(--color-primary-text);
    /*line-height: 1.5;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 2.4rem;
    font-weight: 600;
}

h2 {
    font-size: 1.8rem;
    font-weight: 500;
}

h3 {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-secondary-text);
}

h4 {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-secondary-text);
}

h5 {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--color-gray-text);
}

h6 {
    font-size: 1.4rem;
    font-weight: 500;
}

p, span {
    font-size: 1.4rem;
}

hr {
    border: 1px solid var(--color-divider);
    margin: 0;
    width: 100%;
}

.main {
    margin-top: var(--navbar-height);
}

/* Buttons - Links */
button {
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    border: none;
    color: #fff;
    padding: 11px 8px;
    margin: 0;
    transition: all var(--animation-duration);
}

    button:hover {
        background-color: var(--color-primary-hover);
        cursor: pointer;
    }

a {
    color: var(--color-primary-hover);
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
}

.external-login-btn {
    background-color: #fff;
    color: #42526E;
    box-shadow: var(--card-shadow);
    font-weight: 500;
}

    .external-login-btn:hover {
        background-color: #f4f4f4;
    }

    .external-login-btn:first-child {
        margin-bottom: 15px;
    }

.nav-button {
    background-color: #fff;
    color: var(--color-primary-text);
    transition: all 0ms;
    padding: 9px 8px;
}

    .nav-button:hover {
        background-color: var(--color-primary-light);
        color: var(--color-primary);
    }

/*Class to make the component impossible to select*/
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.container {
    max-width: var(--content-max-width);
    margin: 0 auto;
}

/* NavBar */
.nav {
    height: var(--navbar-height);
    background-color: var(--color-background);
    padding: 0 12px;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 500;
    box-shadow: var(--box-shadow);
}

.nav_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
}

.nav_logo {
    font-size: 18px;
    font-weight: 500;
}

.nav_list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav_item {
    color: var(--color-primary-text);
    margin: 0 30px 0 0;
}

.nav_link {
    text-decoration: none;
    color: var(--color-primary-text);
}

/* Avatar */
.avatar-small {
    background-color: var(--color-purple);
    border-radius: 180px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    font-size: 12px;
    color: #fff;
}

/* Auth Pages */

.auth-container {
    background-color: var(--color-secondary-background);
    height: calc(100vh - var(--navbar-height));
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-card {
    background-color: var(--color-background);
    padding: 32px 40px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 400px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    width: 100%;
    margin-bottom: 15px;
}


.text-input {
    background-color: var(--color-input-background);
    border: 2px solid var(--color-border);
    border-radius: var(--border-radius);
    padding: 11px;
    font-size: 1.5rem;
    font-weight: 400;
    transition: all var(--animation-duration-input);
}

    .text-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: var(--color-gray-text);
    }

    .text-input::placeholder {
        color: var(--color-gray-text);
    }

    .text-input:hover {
        background-color: var(--color-divider);
    }

.text-error {
    color: var(--color-error);
    font-size: 1.2rem;
    margin-top: 4px;
}

.auth-container hr {
    margin: 20px 0;
}

/* Cards */

.card {
    background-color: var(--color-background);
    border-radius: var(--border-radius);
    box-shadow: var(--card-shadow);
}

#your-projects-card {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.project-card {
    max-width: 300px;
    height: 200px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .project-card h4 {
        font-weight: 400;
        margin-top: 8px;
    }

    .project-card:hover {
        background-color: #fcfcfc;
        cursor: pointer;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        transition: all var(--animation-duration);
    }


/* Projects Page */
.projects-container {
    background-color: var(--color-secondary-background);
    min-height: calc(100vh - var(--navbar-height));
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 4%;
}

/* Grids */
.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px 40px;
}
