@page
@model LoginModel

@{ ViewData["Title"] = "Log in"; }

<section class="auth-container">
    <form id="account" method="post">
        <card class="auth-card">
            <h1 style="margin-bottom: 40px;">Login</h1>
            <div class="form-group">
                <input asp-for="Input.Email" class="text-input" placeholder="Email address" />
                <span asp-validation-for="Input.Email" class="text-error"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Password" class="text-input" placeholder="Password" />
                <span asp-validation-for="Input.Password" class="text-error"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="auth-button">Log in</button>
            </div>
            <hr />
            <div class="form-group">
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" style="text-align: center;">Don’t have an account? Register</a>
                <a asp-page="" asp-route-returnUrl="" style="text-align: center; margin-top: 12px;">Log in with guest account</a>
            </div>
        </card>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
